@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
}

@layer utilities {
  .font-inherit {
    font: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

#featured-timeline .slick-slide {
  width: 100% !important;
}

#featured-timeline .slick-slide > div > div {
  width: fit-content !important;
}
