@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .trapezoid-1 {
    transition: transform 0.4s, -webkit-transform 0.4s;
    transform-origin: center center;
    transform: scale(1.1) perspective(60rem) translate3d(0px, 0px, -0.05rem)
      rotateX(-10deg) rotateY(-25deg) translateZ(-50px);
  }

  .trapezoid-2 {
    transition: transform 0.4s, -webkit-transform 0.4s;
    transform-origin: center center;
    transform: scale(1.1) perspective(0.2rem) translate3d(0px, 0px, -0.05rem)
      rotateX(0.117422deg) rotateY(-0.155838deg);
  }

  .trapezoid-3 {
    transition: transform 0.4s, -webkit-transform 0.4s;
    transform-origin: center center;
    transform: scale(1.1) perspective(0.2rem) translate3d(0px, 0px, -0.1rem)
      rotateX(-0.2deg) rotateY(0.1deg);
  }

  .trapezoid-4 {
    transition: transform 0.4s, -webkit-transform 0.4s;
    transform-origin: center center;
    transform: scale(1.1) perspective(0.6rem) translate3d(0px, 0px, -0.1rem)
      rotateX(0.1deg) rotateY(-0.5deg);
  }

  .transform-none {
    transform: none;
  }
}
